.topbar-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 100%;

    font-size: 14px;
    font-weight: bold;
    color: var(--clr-input);
    cursor: pointer;
    font-family: var(--ff-mon);
}

.topbar-button:hover {
    background-color: var(--clr-button-hover) !important;
}

.topbar-button__arrow {
    height: 20px;
}

@media (max-width: 1000px) {
    .topbar-button {
        width: 100%;
    }
}
