.sort-by {
    position: relative;
    height: 45px;

    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.14);
}

.sort-by__close {
    width: 16px;
    object-fit: contain;
}

.sort-by__button {
    height: 100%;
    position: relative;
    background-color: #fff;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 4px;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: var(--clr-input);
}
.sort-by__item.sort-by__item-active {
    color: var(--clr-primary);
}

.sort-by__button-closed {
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    border-top: 4px solid var(--clr-input);
}

.sort-by__button-open {
    display: block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;

    border-bottom: 4px solid var(--clr-input);
}

.sort-by__list {
    position: absolute;
    background-color: #fff;
    padding: 20px;
    z-index: 900;
    min-height: 10px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-wrap: wrap;
    left: 0;
}

.sort-by__item {
    font-size: 14px;
    font-weight: 400;
    color: var(--clr-input);
    cursor: pointer;
    width: 100%;
    height: 30px;
}

.sort-by__item:hover {
    text-decoration: underline;
}

.sort-by__item-active {
    font-weight: 600;
}
