.topbar {
    width: 100%;
    height: 50px;

    background-color: var(--bg-topbar);
}

.topbar__container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.topbar__logo {
    height: 100%;
    width: 300px;

    margin-left: 35px;
    /* margin-right: 75px; */
    /* margin-top: -8px; */
}

.topbar__autocomplete {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.topbar__currency {
    height: 100%;
}

@media (max-width: 1000px) {
    .topbar {
        height: 100px;
    }
}
