.topbar {
    position: relative;
    z-index: 700;
    top: 0;
    width: 100%;
    height: 50px;
    /* overflow-x: hidden; */

    background-color: var(--bg-topbar);
}

.topbar__container {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;
}

.topbar__container-mobile {
    padding: 0 5px;
}

.topbar__logo {
    height: 100%;
    width: 300px;
}

.topbar__left-actions {
    display: flex;
    height: 100%;
    align-items: center;
}

.topbar__sidebar-menu {
    color: var(--clr-input);
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 10px;
    z-index: 2000;
}

.topbar__logo-mobile {
    height: 100%;
}

.topbar__autocomplete {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.topbar__autocomplete-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.topbar__currency {
    height: 100%;
}

.topbar__language {
    height: 100%;
}

.topbar__user {
    height: 100%;
    width: 140px;
}

.topbar__user-mobile {
    height: 100%;
    width: 35px;
}

.topbar-settings {
    height: 100%;
    width: 35px;
}

.topbar__mobile-buttons {
    display: flex;
    height: 100%;
}

@media (max-width: 1000px) {
    .topbar {
        height: 100px;
    }
}
