.user-selector {
    height: 100%;
    width: 140px;
    position: relative;
    cursor: pointer;
}

.user-selector:hover {
    background-color: var(--clr-button-hover) !important;
}

.user-selector__avatar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.user-selector__avatar img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
}

.user-selector__list {
    position: absolute;
    background-color: #fff;
    padding: 10px 0;
    z-index: 900;
    min-height: 10px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.user-selector__item {
    font-size: 14px;
    font-weight: 400;
    color: var(--clr-button-list);
    cursor: pointer;
    width: 100%;
    height: 30px;
    font-family: var(--ff-mon);
}

.user-selector__item:hover {
    text-decoration: underline;
}
