.user-selector {
    height: 100%;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.user-selector:hover {
    background-color: var(--clr-button-hover) !important;
}

.user-selector__avatar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.user-selector__avatar img {
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
}

.user-selector__list {
    position: absolute;
    background-color: #fff;
    padding: 10px 0;
    z-index: 900;
    min-height: 10px;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    display: flex;
    flex-direction: column;
    right: -20px;
    text-align: center;
    width: 250px;
}

.user-selector__item {
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
    height: 30px;
    font-family: var(--ff-mon);
    text-align: start;
    margin: 5px auto;
    text-align: start;
    margin: 5px auto;
    width: 100%;
    color: #2a2e30;
    font-size: 0.9375rem;
    padding: 6px 8px;
}

.user-selector__item svg {
    margin-right: 5px;
}

.user-selector__item.update {
    height: auto;
}

.user-selector__item:hover {
    text-decoration: underline;
    color: #babfc7;
    background-color: #f8f8f8;
}

.user-selector__item-icon {
    margin-right: 5px;
    color: #626262;
}

.user-selector__item-logout {
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}

@media (max-width: 1000px) {
    .user-selector:hover {
        background-color: inherit;
    }
    .user-selector__list {
        right: -5px;
    }
}
