.home {
    width: 100%;
    min-height: calc(100vh - 50px);
    font-family: var(--ff-mon);
    position: relative;
}

.home.home-desktop {
    margin-top: 60px;
}

.home__content-docked {
    margin-left: 300px;
}

.home__content-undocked {
    margin-left: 80px;
}

.home__content {
    margin-top: 16px;
    padding: 0 20px;
}

.home__breadcrumbs {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 600;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home__total-count {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: var(--clr-input);
}

.home__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home__actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1000px) {
    .home {
        height: calc(100vh - 100px);
    }
}
