.home {
    width: 100%;
    height: calc(100vh - 50px);
    margin-top: 16px;
    padding: 0 20px;
    font-family: var(--ff-mon);
}

.home__total-count {
    font-size: 14px;
    font-weight: 700;
    color: var(--clr-input);
    display: inline-block;
}

@media (max-width: 1000px) {
    .home {
        height: calc(100vh - 100px);
    }
}
