.home {
    width: 100%;
    min-height: calc(100vh - 50px);
    margin-top: 16px;
    padding: 0 20px;
    font-family: var(--ff-mon);
    margin-bottom: 25px;
}

.home__total-count {
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: var(--clr-input);
}

.home__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home__actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1000px) {
    .home {
        height: calc(100vh - 100px);
    }
}
