.ad-details {
    background-color: #fff;
    margin: 0 auto;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 10%);
    border: none;
    padding: 30px;
    max-width: 1340px;
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}
