.sidebar {
    position: fixed;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
    z-index: 800;
    width: 300px;
    top: 50px;
}

.sidebar__header {
    padding: 20px 16px 8px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar__header-title {
    color: var(--clr-primary);
    font-size: 22px;
    font-weight: 600;
}

.sidebar__header-icon {
    width: 20px;
    height: 20px;
    color: var(--clr-primary);
}

.sidebar__header-icon svg {
    width: 20px;
    height: 20px;
}

@media (max-width: 1000px) {
    .sidebar {
        top: 100px;
    }
}
