.sidebar {
    position: fixed;
    height: calc(100% - 50px);
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 5%);
    z-index: 800;
    top: 50px;
    transition: 0.05s linear all;
}

.sidebar-mobile {
    transform: translateX(-300px);
}

.sidebar-mobile-open {
    transform: translate(0);
    width: 300px;
}

.sidebar-undocked {
    width: 80px;
}
.sidebar-docked {
    width: 300px;
}

.sidebar__mobile-menu {
    color: var(--clr-input);
    position: fixed;
    top: 0;
    height: 50px;
    left: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.sidebar__hammer {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 100px;
}

.sidebar__header {
    padding: 20px 16px 8px 38px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: relative;
    z-index: 1000;
}

.sidebar__header-title {
    color: var(--clr-primary);
    font-size: 22px;
    font-weight: 600;
}

.sidebar__header-icon {
    width: 20px;
    height: 20px;
    color: var(--clr-primary);
    cursor: pointer;
}

.sidebar__header-icon svg {
    width: 20px;
    height: 20px;
}

.sidebar__content {
    height: calc(100vh - 50px - 56px - 70px);
    overflow: hidden auto;
    position: relative;
    z-index: 1000;
}

.sidebar__content-item {
    padding: 10px 16px;
    margin: 5px 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--clr-sidebar-icon);
    cursor: pointer;
    /* transition: transform 1sec ease-in; */
}

.sidebar__content-item-sub .sidebar__content-item span {
    font-size: 12px !important;
}

.sidebar__content-item-active {
    background-color: var(--clr-sidebar-collapse-bg);
}

.sidebar__content-item-active-last {
    background: linear-gradient(118deg, #ff9f43, rgba(255, 159, 67, 0.7));
}

.sidebar__content-item span {
    display: block;
    color: var(--clr-sidebar-icon);
    line-height: 1.45;
    font-size: 15px;
}

.sidebar__content-item-label {
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in;
}

.sidebar__content-item-icon {
    margin-right: 12px;
    color: var(--clr-sidebar-icon);
}

.sidebar__content-item:hover .sidebar__content-item-label {
    transform: translateX(15px);
}

.sidebar__footer-wrapper {
    position: fixed;
    width: calc(300px - 20px);
    z-index: 900;
    bottom: 0;
}

.sidebar__footer {
    padding: 12px 10px;
    position: absolute;
    width: calc(300px - 20px);
    bottom: 0;
}

.sidebar__footer-button {
    width: 100%;
    background-color: var(--clr-icon) !important;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
    border: none !important;
}

.sidebar__footer-button:disabled {
    background-color: var(--clr-input-placehoder) !important;
}

.sidebar__footer-button:disabled:hover {
    background-color: var(--clr-input-placehoder) !important;
}

.sidebar__footer-button:hover {
    width: 100%;
    background-color: var(--clr-icon) !important;
    color: #fff !important;
    border-radius: 5px;
    text-align: center;
    border: none !important;
}

.sidebar__content-item-sub {
    margin-left: 15px;
}

@media (max-width: 1000px) {
    .sidebar {
        top: 100px;
        height: calc(100vh - 100px);
    }
    .sidebar__content {
        height: calc(100vh - 100px - 56px - 70px);
        overflow: hidden auto;
    }
    .sidebar__footer {
        /* bottom: 100px; */
        width: 100%;
    }
}
