.organization-divider {
    border: 0;
    border-top: 1px solid rgba(34, 41, 47, 0.1);
}

.organization-save-button {
    width: 100%;
    height: 40px;
    border: 1px solid #ff9f43;
    background-color: #ff9f43;
    color: white;
    padding: 0.7rem 2rem;
    border-radius: 0.4285rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
