.list-items {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin-top: 15px;
    height: 100%;
    background-color: #fff;
}

.list-items a {
    height: 100%;
    width: 100%;
}

.list-items .list-item {
    width: 100%;
    margin-bottom: 2.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 10%);
    transition: all 0.3s ease-in-out;
}

.list-items .list-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 25px 0 rgb(0 0 0 / 25%);
}

.list-items .card-content {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.list-items .content-image-view {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    overflow: hidden;
    background: #c9c5c5;
}

.list-items .content-image-view__image {
    max-width: 100%;

    object-fit: contain;
}

.list-items .item-main-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.list-items .item-title {
    font-size: 20px;
    margin-bottom: 1rem;
}

.list-items .item-attributes {
    display: block;
    color: #2c2c2c;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
}

.list-items .item-description {
    display: block;
    color: #2c2c2c;
    width: 100%;
    margin-top: 0;
}

.list-items .item-additional-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
}

.list-items .item-price-wrapper {
    margin-bottom: 1rem;
}

.list-items .item-price {
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    text-align: end;
}

.list-items .item-price-second {
    font-weight: 500;
    font-size: 14px;
    color: #757575;
    margin: 0;
    margin-top: 0.2rem;
    text-align: end;
}

.list-items .item-owner-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    width: 100%;
}

.list-items .item-owner-label {
    display: block;
    color: #2c2c2c;
    padding-right: 0.2rem;
}

.list-items .item-owner {
    display: block;
    text-align: end;
}

.list-items .item-owner span {
    color: #2c2c2c;
}

.list-items .item-location-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.2rem;
    margin-top: auto;
}

.list-items .item-location-pin {
    fill: white;
    stroke: #ff9f43;
    margin-right: 4px;
}

.list-items .item-location {
    display: block;
    font-size: 14px;
    color: #757575;
}

.list-items .item-created-wrapper {
    text-align: end;
}
.list-items .item-created {
    font-size: 12px;
    color: #2c2c2c;
}

.content-image-view__multi {
    height: 200px;
    width: 100%;
    position: relative;
    /* padding: 16px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-image-view__multi-arrow-left {
    position: absolute;
    top: 45%;
    left: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 2px;
    color: white;
}

.content-image-view__multi-arrow-right {
    position: absolute;
    top: 45%;
    right: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    padding: 2px;
    color: white;
}

.content-image-view__multi-arrow-left:hover,
.content-image-view__multi-arrow-right:hover {
    transform: scale(1.3);
}

.content-image-view__multi-image-from-left {
    animation: 300ms ease 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.content-image-view__multi-image-from-rigth {
    animation: 300ms ease 0s 1 slideInFromRight;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
