.breadcrumbs {
    display: flex;
    align-items: center;
    margin-left: -10px;
    margin-bottom: 20px;
    height: 100%;
}

.breadcrumbs__item {
    cursor: pointer;
    margin: 0 10px;
    font-size: 14px;
    color: var(--clr-input);
}

.breadcrumbs__item:hover {
    color: var(--clr-primary);
}
