.breadcrumbs {
    display: flex;
    align-items: center;
    margin: 10px 0 30px -10px;
    height: 40px;
}

.breadcrumbs__item {
    cursor: pointer;
    margin: 0 10px;
    font-size: 14px;
    color: var(--clr-input);
}

.breadcrumbs__item:hover {
    color: var(--clr-primary);
}
