.basic-org-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.org-name {
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0.4rem;
}
.org-name__nickname {
    font-size: 0.9rem;
}

.org-location {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.875rem;
}

.org-location-label {
    color: var(--clr-input);
}

.org-location:hover > * {
    color: var(--clr-primary);
}

.org-info-data {
    display: flex;
    align-items: center;
    gap: 5px;
    color: var(--clr-primary);
}

.org-info-label {
    color: var(--clr-input);
}
